body {
    background-color: rgb(177, 177, 177);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    
    
    
}

#header {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0 0 40px 0;
    
    border-bottom: 5px solid blue;
    
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: blue 3px 2px 0;
    position: relative;
  }

#main-content {
    display: flex;
    justify-content: space-evenly;
}
#ncaa-img, #hangman-image, #Hangman-Data, #hangman-gameplay {
    height: 350px;
    width: 350px;
    border: 2px black;
    
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 1;
    text-align: center;
    
}

#Hangman-Data, #hangman-gameplay {
    border-left-style: dashed;
    border-right-style: dashed;
}

#any-key, #college-header {
    font-size: 26px;    
}

#letters-used, #guesses-left {
    text-decoration: underline;
}

#blank-answer {
    letter-spacing: 7px;
    padding: 100px 10px 20px 10px;
    
}



footer {    
    text-align: center;
    margin-top: 40px;
    background-color: black;
    color: white;
    border-top: 5px solid blue;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 1;
    text-shadow: blue 3px 2px 0;
}

  